/* === GLOBAL COMMAND === */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}
/* === HERO/HOME SECTION === */
#home {
  background-image: url("images/banner.png");
  background-position: 28%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 60vh;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  padding: 1.5rem;
  padding-top: 3rem;
}
@media screen and (max-width: 320px) {
  #home {
    background-position: center;
    height: 70vh;
  }
}
.home-desc {
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0;
  width: 70%;
}
/* ================== PRODUCT STYLE ========================== */
.product-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0, 0.864);
  padding: 1rem;
  border: none;
  border-radius: 15px;
  max-width: 90vw;
  box-shadow: 0 0 3px 3px orange;
}
.theProducts {
  background-image: linear-gradient(
    to right,
    rgb(255, 197, 89),
    rgb(247, 175, 43)
  );
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.product-cards img {
  width: 80vw;
}
/* ================== MOBILE VIEW ========================== */
#desktop-nav {
  display: none;
}
.blur.active {
  position: fixed;
  z-index: 98;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.573);
  transition: 0.2s ease-in-out;
}
.off-screen-menu {
  z-index: 99;
  position: fixed;
  top: 0;
  right: -50vw;
  height: 100vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.796);
  transition: 0.3s ease-in-out;
}
.off-screen-menu.active {
  right: 0;
}
.mobile-nav-links,
.mobile-nav-links a {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 25%;
  font-size: 1rem;
  font-weight: 600;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0.5rem;
}
.close-btn {
  font-size: 4rem;
  color: orange;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 70%;
}
#off-screen-menu_byte-burger_logo {
  margin-top: 8rem;
  width: 100%;
}
#off-screen-menu_byte-burger_logo img {
  width: 100%;
}
#mobile-nav {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.17);
  background: black;
}
.logo {
  width: 50%;
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  z-index: 3;
}
.logo img {
  height: 8rem;
  width: 8rem;
}
.mobile-ham-btn {
  width: 50%;
  font-size: 3rem;
  color: orange;
  padding-left: 25%;
}
/* === FOOTER SECTIONS === */
footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  padding: 1rem;
  gap: 1rem;
}
#footer-byte-burger_tagline-and-socials {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 1rem 0.5rem;
}
.byte-burger_title p {
  font-size: 1.5rem;
  font-weight: 600;
}
#byte-bruger_socials {
  font-size: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  color: orange;
}
#byte-bruger_socials i {
  background: black;
  border-radius: 50px;
  padding: 0.5rem;
}
#quick-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 0 1rem;
}
.quick-links_title {
  font-size: 1.5rem;
  font-weight: 600;
}
#quick-links ul,
#quick-links ul a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: black;
}
#byte-burger_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}
#byte-burger_logo img {
  width: 14rem;
}
.footer {
  border-top: 1px solid black;
  background-color: orange;
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* ================== DESKTOP VIEW ========================== */
@media screen and (min-width: 1024px) {
  #mobile-nav {
    display: none;
  }
  /* === DESKTOP VIEW === */
  #desktop-nav {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.17);
    background: black;
  }
  .logo {
    padding-top: 2.5rem;
    height: 200px;
    width: 200px;
  }
  .logo img {
    height: 100%;
    width: 100%;
  }
  .desktop-nav-links_container {
    margin-right: 1.5rem;
  }
  .desktop-nav-links,
  .desktop-nav-links a {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 5rem;
    color: orange;
  }
  /* === FOOTER SECTIONS === */
  footer {
    padding: 0 5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-size: 1.5rem;
  }
  .byte-burger_title,
  h3 {
    font-family: cursive;
  }
  #byte-bruger_socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    font-size: 1.7rem;
  }
  #byte-burger_logo {
    width: 20rem;
    margin-left: 5rem;
  }
  #byte-burger_logo img {
    width: 80%;
  }
  .footer {
    font-size: 1.2rem;
  }
  #quick-links {
    margin-left: 8rem;
  }
  #quick-links ul li a {
    font-size: 1.3rem;
  }
}
/* ========================== TABLET VIEW ============================ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-nav-links,
  .mobile-nav-links a {
    font-size: 1.5rem;
  }
  .close-btn {
    padding-left: 80%;
  }
  #off-screen-menu_byte-burger_logo {
    margin-top: 6rem;
    padding-left: 5rem;
    width: 100%;
  }
  #off-screen-menu_byte-burger_logo img {
    width: 80%;
  }
  .logo {
    padding-top: 3rem;
  }
  .logo img {
    height: 9rem;
    width: 9rem;
  }
  .mobile-ham-btn {
    padding-left: 35%;
  }
}
